{:group-id "com.nextjournal"
 :artifact-id "beholder"
 :scm {:url "https://github.com/nextjournal/beholder"
       :connection "scm:git:git@github.com:nextjournal/beholder.git"
       :developerConnection "scm:git:git@github.com:nextjournal/beholder.git"}
 :version "1.0.2"}
